* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Syne Mono", monospace;
}
img {
  width: 100%;
}
.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  background-color: #82bd3e;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.5s linear;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid #82bd3e;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/* basic Css */

/* nav bar list and ul */
header {
  padding: 1rem 0;
  position: absolute;
  width: 100%;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.nav-item li {
  list-style: none;
}
.nav-link {
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
}
/* phone Bar Css */
.phone span {
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #82bd3e;
}
/* NavBar Responsive Button Css */
.navBtn {
  cursor: pointer;
  display: none;
}
.navBtn .navLine {
  width: 20px;
  height: 3px;
  background-color: #222;
  margin-bottom: 2px;
}
/* --------------End Nav Bar Css---------------- */

/* --------------------Start Banner Css-------------------------- */
.bannerPart {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.473)),
    url(../img/coverimage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.bannerPart .row {
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  padding-top: 12rem;
}
.bannerPart .title h1 span {
  color: #82bd3e;
  font-weight: 700;
  font-size: 2.2rem;
}
.bannerPart .feature {
  padding: 0.5rem 0;
  border-bottom: 2px solid rgb(228, 225, 225);
}

.bannerPart .adress {
  margin-top: 1rem;
}
.bannerPart .adress i {
  margin-right: 0.5rem;
  color: #82bd3e;
}
.bannerPart .banner-btn {
  margin-top: 1.5rem;
}
/* end of Banner */
.branding {
  background: url(../img/branding.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 4rem 0;
}
.branding .btn:hover {
  color: #82bd3e;
}
.branding .row {
  justify-content: center;
  align-items: center;
}
.branding .brandingBox {
  width: 60%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 5px 27px 10px rgba(130, 189, 62, 0.69);
  -webkit-box-shadow: 0px 5px 27px 10px rgba(130, 189, 62, 0.69);
  -moz-box-shadow: 0px 5px 27px 10px rgba(130, 189, 62, 0.69);
  border-radius: 15px;
}
.branding .brandingBox img {
  width: 20%;
}
.branding .brandingHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.branding .brandingSubtitle {
  border-left: 2px solid #82bd3e;
  padding-left: 1rem;
  border-radius: 5px;
}
.branding .brandingSubtitle p {
  letter-spacing: 2px;
}
.branding .brandingText {
  margin-top: 1rem;
}
.branding .brandingText {
  letter-spacing: 1px;
}
.branding .brandingHeader span {
  font-size: 4rem;
  color: #82bd3e;
}
.branding .brandingBtn {
  margin-top: 2.5rem;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*

  /* Nav Ul  */

@media (max-width: 575.98px) {
  body {
    overflow-x: hidden;
  }
  .navBrand img {
    width: 75%;
  }
  .nav-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    background-color: #222;
    height: 80vh;
    right: 0;
    top: 77%;
    box-shadow: -7px 3px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -7px 3px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 3px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px 0px 0px 5px;
    transform: translateX(500px);
    transition: all 0.5s ease-in;
  }
  .nav-link {
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .phone span {
    border: 1px solid #222;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
  }
  .navBtn {
    cursor: pointer;
    display: block;
  }
  .addManu {
    transform: translateX(-0px);
  }
  /* End Nav Bar Responsive Css */
  .branding .brandingBox {
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 5px 27px 10px rgba(130, 189, 62, 0.69);
    -webkit-box-shadow: 0px 5px 27px 10px rgba(130, 189, 62, 0.69);
    -moz-box-shadow: 0px 5px 27px 10px rgba(130, 189, 62, 0.69);
    border-radius: 15px;
  }
  .branding .brandingHeader span {
    font-size: 2rem;
    color: #82bd3e;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    overflow-x: hidden;
  }
  .navBrand img {
    width: 75%;
  }
  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    position: absolute;
    align-items: center;
    background-color: #222;
    height: 80vh;
    right: 0;
    box-shadow: -7px 3px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -7px 3px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 3px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px 0px 0px 5px;
    top: 77%;
    transform: translateX(500px);
    transition: all 0.5s ease-in;
  }
  .nav-link {
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .phone span {
    border: 1px solid #222;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
  }
  .navBtn {
    cursor: pointer;
    display: block;
  }
  .addManu {
    transform: translateX(-0px);
  }
  .branding .brandingBox {
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 5px 27px 10px rgba(130, 189, 62, 0.69);
    -webkit-box-shadow: 0px 5px 27px 10px rgba(130, 189, 62, 0.69);
    -moz-box-shadow: 0px 5px 27px 10px rgba(130, 189, 62, 0.69);
    border-radius: 15px;
  }
  .branding .brandingHeader span {
    font-size: 2rem;
    color: #82bd3e;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  body {
    overflow-x: hidden;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  body {
    overflow-x: hidden;
  }
}

/* ------------------------Animation------------------------- */

@keyframes navbarAnimation {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
